[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "journalabbr"]
	path = journalabbr
	url = https://github.com/zoushucai/journalabbr
